{
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "requireConfigFile": false
  },
  "rules": {
    "semi": 2
  }
}
